[Unit]
Description=AFNET Amiga FTP client network UI
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=60
WorkingDirectory=%h/gits/amihome/afnet/afnet_1.0-1/etc/afnet/ui
ExecStart=/usr/bin/node server.js
StandardOutput=null

[Install]
WantedBy=multi-user.target
