[Unit]
Description=AFNET Amiga FTP client network
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
RestartSec=60
WorkingDirectory=/home/gavinr/gits/amihome/afnet/afnet_1.0-1/etc/afnet/
ExecStart=/home/gavinr/gits/amihome/afnet/afnet_1.0-1/etc/afnet/bin/afnet-service.sh
ExecStop=/usr/bin/touch /home/gavinr/gits/amihome/afnet/afnet_1.0-1/etc/afnet/afnet-shutdown.txt
ExecStop=/bin/sleep 10
StandardOutput=null

[Install]
WantedBy=multi-user.target
