<!DOCTYPE html>
<html>
<head>
<style>
  body {
    font-family: Helvetica, sans-serif;
    background-color: #d9e6f2;
  }
  h1,h2,h3,h4 {
    color: #c6d9ec;
    background-color: #226666;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 2px;
  }
  p {
    font-family: Courier, sans-serif;
    color: #5c5c3d;
  }
  div {
  }
  table {
    width: 80%;
    display: table;
    color: #c6d9ec;
    border-spacing: 1px;
    border-color: #99BBBB;
    margin-left: 20px;
  }
  th {
    background-color: #558888;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  td {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #5c5c3d;
    background-color: #99BBBB;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
<meta http-equiv="refresh" content="1;url=/home" />
</head>
<body>

<h3><i>PROCESSING REQUEST</i></h3>
<p><u>Request</u>: <%= afnet.configuredMessage %></p>
<br>
<br>
<hr>
<p><u>Redirecting to Home Page now</u>: <%= afnet.configuredMessage %></p>

</body>
</html> 
